<app-header></app-header>
<div class="container-fluid">
  <div class="row" id="hide">
    <div class="d-flex justify-content-between">
      <div class="col">
        <h3>Pharmaceutical Tablet</h3>
        <!-- <span>(2297 products available)</span> -->
      </div>
      <div class="">View by : <b>product</b> | suppliers</div>
    </div>
  </div>
  <!-- mob or tab view start -->
  <!-- <div class="tab"> -->
  <ul class="d-flex justify-content-between list-unstyled">
    <li class="nav-item dropdown mega-dropdown">
      <a
        class="nav-link dropdown-toggle text-center"
        href=""
        id="menu-4"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        ><i class="fa fa-map-marker-alt"></i>

        Select City
      </a>
      <ul class="dropdown-menu mega-dropdown-menu" aria-labelledby="menu-4">
        <li class="row">
          <ul class="col">
            <li>
              <h6>Common Disease</h6>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/category"> block 1</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"> block 2</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"> block 3</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"> block 4</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"> block 5</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"> block 6</a>
            </li>
          </ul>
          <ul class="col">
            <li>
              <h6>Ayurved Herbal Product & Medicine</h6>
            </li>
            <li>
              <a class="dropdown-item" href="#"> block 7</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"> block 8</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"> block 9</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"> block 10</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"> block 11</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"> block 12</a>
            </li>
          </ul>
          <ul class="col">
            <li>
              <h6>Nutraceuticals & Dietary Supplements</h6>
            </li>
            <li>
              <a class="dropdown-item" href="#"> block 13</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"> block 14</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"> block 15</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"> block 16</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"> block 17</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"> block 18</a>
            </li>
          </ul>
          <ul class="col">
            <li>
              <h6>Anti infective Drugs & Medicines</h6>
            </li>
            <li>
              <a class="dropdown-item" href="#"> block 19</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"> block 20</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"> block 21</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"> block 22</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="nav-item dropdown mega-dropdown">
      <a
        class="nav-link dropdown-toggle text-center"
        href=""
        id="menu-4"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Categories..
      </a>
      <ul class="dropdown-menu mega-dropdown-menu" aria-labelledby="menu-4">
        <li class="row">
          <ul class="col">
            <li>
              <h6>Common Disease</h6>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/category"> block 1</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"> block 2</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"> block 3</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"> block 4</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"> block 5</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"> block 6</a>
            </li>
          </ul>
          <ul class="col">
            <li>
              <h6>Ayurved Herbal Product & Medicine</h6>
            </li>
            <li>
              <a class="dropdown-item" href="#"> block 7</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"> block 8</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"> block 9</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"> block 10</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"> block 11</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"> block 12</a>
            </li>
          </ul>
          <ul class="col">
            <li>
              <h6>Nutraceuticals & Dietary Supplements</h6>
            </li>
            <li>
              <a class="dropdown-item" href="#"> block 13</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"> block 14</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"> block 15</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"> block 16</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"> block 17</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"> block 18</a>
            </li>
          </ul>
          <ul class="col">
            <li>
              <h6>Anti infective Drugs & Medicines</h6>
            </li>
            <li>
              <a class="dropdown-item" href="#"> block 19</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"> block 20</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"> block 21</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"> block 22</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="nav-item dropdown mega-dropdown">
      <a
        class="nav-link dropdown-toggle text-center"
        href=""
        id="menu-4"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Seller Type
      </a>
      <ul class="dropdown-menu mega-dropdown-menu" aria-labelledby="menu-4">
        <li class="row">
          <ul class="col">
            <li>
              <h6>Common Disease</h6>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/category"> block 1</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"> block 2</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"> block 3</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"> block 4</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"> block 5</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"> block 6</a>
            </li>
          </ul>
          <ul class="col">
            <li>
              <h6>Ayurved Herbal Product & Medicine</h6>
            </li>
            <li>
              <a class="dropdown-item" href="#"> block 7</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"> block 8</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"> block 9</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"> block 10</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"> block 11</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"> block 12</a>
            </li>
          </ul>
          <ul class="col">
            <li>
              <h6>Nutraceuticals & Dietary Supplements</h6>
            </li>
            <li>
              <a class="dropdown-item" href="#"> block 13</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"> block 14</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"> block 15</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"> block 16</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"> block 17</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"> block 18</a>
            </li>
          </ul>
          <ul class="col">
            <li>
              <h6>Anti infective Drugs & Medicines</h6>
            </li>
            <li>
              <a class="dropdown-item" href="#"> block 19</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"> block 20</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"> block 21</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"> block 22</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
  <!-- </div> -->
  <!-- mob or tab view end -->
  <div class="col mt-4">
    <ul class="list-group list-group-horizontal-sm">
      <li class="list-group-item" id="hide">
        <i class="fa fa-map-marker-alt"></i><span>Location</span>
      </li>
      <li class="list-group-item" id="hide">
        <input type="text" class="search" placeholder="Search Here" />
      </li>
      <li class="list-group-item top-bar"><a>Near me</a></li>
      <li class="list-group-item top-bar active"><a>All India</a></li>
      <li class="list-group-item top-bar"><a>Bhubaneswar</a></li>
      <li class="list-group-item top-bar"><a>Hyderabad</a></li>
      <li class="list-group-item top-bar"><a>Bangalore</a></li>
      <li class="list-group-item top-bar"><a>Pune</a></li>
      <li class="list-group-item top-bar"><a>Mumbai</a></li>
      <li class="list-group-item top-bar"><a>Gujrat</a></li>
      <li class="list-group-item top-bar"><a>Rajasthan</a></li>
    </ul>
  </div>
  <div class="row">
    <div
      class="col-lg-12 d-flex justify-content-between mt-4 flex-column flex-sm-row"
    >
      <div class="col-lg-2 col-md-4">
        <ul class="list-group">
          <b>Filter Results</b>
          <!-- <div class="list-group"> -->
          <li class="list-group-item side-bar">
            <input class="form-check-input me-1" type="checkbox" value="" />
            <span>Shop Now</span>
          </li>
        </ul>
        <!-- </div> -->
        <ul class="list-group">
          <b>Related Category</b>
          <li class="list-group-item side-bar"><a>paracetamol Tablets</a></li>
          <li class="list-group-item side-bar"><a>paracetamol Tablets</a></li>
          <li class="list-group-item side-bar"><a>paracetamol Tablets</a></li>
          <li class="list-group-item side-bar"><a>paracetamol Tablets</a></li>
          <li class="list-group-item side-bar"><a>paracetamol Tablets</a></li>
          <li class="list-group-item side-bar"><a>paracetamol Tablets</a></li>
          <li class="list-group-item side-bar"><a>paracetamol Tablets</a></li>
        </ul>
        <ul class="list-group">
          <b>Business Type</b>
          <li class="list-group-item side-bar"><a>Manufacture</a></li>
          <li class="list-group-item side-bar"><a>Manufacture</a></li>
          <li class="list-group-item side-bar"><a>Manufacture</a></li>
          <li class="list-group-item side-bar"><a>Manufacture</a></li>
        </ul>
        <a></a>
        <ul class="list-group">
          <b>Deals In</b>
          <li class="list-group-item side-bar"><a>pharma </a></li>
          <li class="list-group-item side-bar"><a>pharma</a></li>
        </ul>
      </div>

      <div class="col-lg-10 col-md-8">
        <div class="card mb-3" style="max-width: 900px">
          <div class="row g-0">
            <div class="col-lg-4">
              <img
                src="/assets/img/medicine/med1.jpg"
                alt="Trendy Pants and Shoes"
                class="img-fluid"
              />
            </div>
            <div class="col-lg-4">
              <div class="card-body">
                <h4 class="card-title">Bluecal K2 Capsule</h4>
                <div class="font-weight-bold">
                  &#x20B9; 241 /<span>box</span>
                </div>
                <p class="card-text">
                  brand: <strong>BluewaterResearch</strong>
                </p>

                <p class="card-text">
                  This is a wider card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
                <p class="card-text">
                  <!-- <small class="text-muted">Last updated 3 mins ago</small> -->
                  <a href="/">Read more...</a>
                </p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card-body">
                <h4 class="card-title">
                  Bluewaterresearch (A Division Of Lifevision...
                </h4>
                <p class="card-text">
                  <small class="text-muted">Unit 9 , Bhubaneswar</small>
                </p>
                <p class="card-text">
                  <i class="fa-solid fa-crown"></i>
                  <small> Leading suppliers</small>
                  <i class="fa-solid fa-stamp"></i><small> Verified </small>
                </p>
                <p class="card-text">
                  <i class="fa-solid fa-phone"></i>Call <b> 123456789</b>
                </p>
                <button
                  type="button"
                  class="btn btn-lg btn-primary"
                  data-toggle="modal"
                  data-target="#exampleModal"
                  (click)="onDetails()"
                >
                  contact supplier
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3" style="max-width: 900px">
          <div class="row g-0">
            <div class="col-lg-4">
              <img
                src="/assets/img/medicine/med1.jpg"
                alt="Trendy Pants and Shoes"
                class="img-fluid"
              />
            </div>
            <div class="col-lg-4">
              <div class="card-body">
                <h4 class="card-title">Bluecal K2 Capsule</h4>
                <div class="font-weight-bold">
                  &#x20B9; 241 /<span>box</span>
                </div>
                <p class="card-text">
                  brand: <strong>BluewaterResearch</strong>
                </p>

                <p class="card-text">
                  This is a wider card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
                <p class="card-text">
                  <!-- <small class="text-muted">Last updated 3 mins ago</small> -->
                  <a href="/">Read more...</a>
                </p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card-body">
                <h4 class="card-title">
                  <a routerLink="/company">
                    Bluewaterresearch (A Division Of Lifevision...</a
                  >
                </h4>
                <p class="card-text">
                  <small class="text-muted">Unit 9 , Bhubaneswar</small>
                </p>
                <p class="card-text">
                  <i class="fa-solid fa-crown"></i>
                  <small> Leading suppliers</small>
                  <i class="fa-solid fa-stamp"></i><small> Verified </small>
                </p>
                <p class="card-text">
                  <i class="fa-solid fa-phone"></i>Call <b> 123456789</b>
                </p>
                <button type="button" class="btn btn-lg btn-primary">
                  contact supplier
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3" style="max-width: 900px">
          <div class="row g-0">
            <div class="col-lg-4">
              <img
                src="/assets/img/medicine/med1.jpg"
                alt="Trendy Pants and Shoes"
                class="img-fluid"
              />
            </div>
            <div class="col-lg-4">
              <div class="card-body">
                <h4 class="card-title">Bluecal K2 Capsule</h4>
                <div class="font-weight-bold">
                  &#x20B9; 241 /<span>box</span>
                </div>
                <p class="card-text">
                  brand: <strong>BluewaterResearch</strong>
                </p>

                <p class="card-text">
                  This is a wider card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
                <p class="card-text">
                  <!-- <small class="text-muted">Last updated 3 mins ago</small> -->
                  <a href="/">Read more...</a>
                </p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card-body">
                <h4 class="card-title">
                  Bluewaterresearch (A Division Of Lifevision...
                </h4>
                <p class="card-text">
                  <small class="text-muted">Unit 9 , Bhubaneswar</small>
                </p>
                <p class="card-text">
                  <i class="fa-solid fa-crown"></i>
                  <small> Leading suppliers</small>
                  <i class="fa-solid fa-stamp"></i><small> Verified </small>
                </p>
                <p class="card-text">
                  <i class="fa-solid fa-phone"></i>Call <b> 123456789</b>
                </p>
                <button type="button" class="btn btn-lg btn-primary">
                  contact supplier
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3" style="max-width: 900px">
          <div class="row g-0">
            <div class="col-lg-4">
              <img
                src="/assets/img/medicine/med1.jpg"
                alt="Trendy Pants and Shoes"
                class="img-fluid"
              />
            </div>
            <div class="col-lg-4">
              <div class="card-body">
                <h4 class="card-title">Bluecal K2 Capsule</h4>
                <div class="font-weight-bold">
                  &#x20B9; 241 /<span>box</span>
                </div>
                <p class="card-text">
                  brand: <strong>BluewaterResearch</strong>
                </p>

                <p class="card-text">
                  This is a wider card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
                <p class="card-text">
                  <!-- <small class="text-muted">Last updated 3 mins ago</small> -->
                  <a href="/">Read more...</a>
                </p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card-body">
                <h4 class="card-title">
                  Bluewaterresearch (A Division Of Lifevision...
                </h4>
                <p class="card-text">
                  <small class="text-muted">Unit 9 , Bhubaneswar</small>
                </p>
                <p class="card-text">
                  <i class="fa-solid fa-crown"></i>
                  <small> Leading suppliers</small>
                  <i class="fa-solid fa-stamp"></i><small> Verified </small>
                </p>
                <p class="card-text">
                  <i class="fa-solid fa-phone"></i>Call <b> 123456789</b>
                </p>
                <button type="button" class="btn btn-lg btn-primary">
                  contact supplier
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- MODAL START -->
    <div
      class="modal"
      tabindex="-1"
      role="dialog"
      [ngStyle]="{ display: display }"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Supplier Details</h4>
            <button
              type="button"
              class="close"
              aria-label="Close"
              (click)="onCloseHandled()"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- modal body start -->
            <div class="card mb-3" style="max-width: 900px">
              <div class="row g-0">
                <div class="col-4">
                  <img
                    src="/assets/img/medicine/med1.jpg"
                    alt="medicine details"
                    class="img-fluid"
                  />
                </div>
                <div class="col">
                  <div class="card-body">
                    <h4 class="card-title">Bluecal K2 Capsule</h4>
                    <div class="font-weight-bold">
                      &#x20B9; 241 /<span>box</span>
                    </div>
                    <p class="card-text">
                      brand: <strong>BluewaterResearch</strong>
                    </p>

                    <!-- <p class="card-text">
                        This is a wider card with supporting text below as a
                        natural lead-in to additional content. This content is a
                        little bit longer.
                      </p> -->
                    <p class="card-text">
                      <small class="text-muted">Sold By</small> :
                      <a href="/">RKF solutions</a>
                    </p>
                  </div>
                </div>
                <div class="card-body">
                  <h4 class="card-title">Quantity</h4>
                  <div class="input-group">
                    <input type="text" class="form-control" />
                    <input type="text" class="form-control" value="Box" />
                  </div>
                  <hr />
                  <h4 class="card-title">Total Order in Value</h4>
                  <select class="form-select">
                    <option selected>select a value</option>
                    <option value="1">upto 1000</option>
                    <option value="2">1000 to 3000</option>
                    <option value="3">3000 to 5000</option>
                  </select>
                  <!-- <div class="text-center">
                      <button type="button" class="btn btn-lg btn-success mt-4">
                        Next
                      </button>
                    </div> -->
                  <h4 class="card-title mt-2">Requirement Details</h4>
                  <textarea
                    class="form-control"
                    id="exampleFormControlTextarea1"
                    rows="3"
                    placeholder="Tell us about your requirement"
                  ></textarea>
                </div>
                <!-- <div class="col-lg-4">
                    <div class="card-body">
                      <h4 class="card-title">
                        Bluewaterresearch (A Division Of Lifevision...
                      </h4>
                      <p class="card-text">
                        <small class="text-muted">Unit 9 , Bhubaneswar</small>
                      </p>
                      <p class="card-text">
                        <i class="fa-solid fa-crown"></i>
                        <small> Leading suppliers</small>
                        <i class="fa-solid fa-stamp"></i><small> Verified </small>
                      </p>
                      <p class="card-text">
                        <i class="fa-solid fa-phone"></i>Call <b> 123456789</b>
                      </p>
                      <button type="button" class="btn btn-lg btn-primary">
                        contact supplier
                      </button>
                    </div>
                  </div> -->
              </div>
            </div>

            <!-- modal body end -->
          </div>
          <div class="modal-footer">
            <div class="text-center">
              <button
                type="button"
                class="btn btn-lg btn-success"
                data-toggle="modal"
                data-target="#exampleModal"
                (click)="onSubmit()"
              >
                Submit
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- MODAL END -->

    <!-- submit Modal Start -->
    <div
      class="modal"
      tabindex="-1"
      role="dialog"
      [ngStyle]="{ display: deploy }"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <div class="w-100 text-center">
              <h4 class="modal-title">
                <i class="fa-solid fa-check"></i> &nbsp; Thank you!
              </h4>
              <p class="card-text">
                Your requirement has been sent to <b> RKF Solutions</b>
              </p>
            </div>

            <button
              type="button"
              class="close"
              aria-label="Close"
              (click)="onClose()"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- <div class="container-fluid"> -->
            <div class="d-flex justify-content-between">
              <div>
                <p class="card-text">
                  <small class="text-muted"
                    >To check further replies from the supplier :</small
                  >
                </p>
                <button
                  type="button"
                  class="btn btn-md btn-primary"
                  (click)="viewms()"
                >
                  <i class="fa-solid fa-message"></i>
                  View Message
                </button>
              </div>
              <div>
                <p class="card-text">
                  <small class="text-muted"
                    >Grow your business by selling on Indiamart for free</small
                  >
                </p>
                <button type="button" class="btn btn-md btn-primary">
                  <i class="fa-solid fa-message"></i>
                  View Message
                </button>
              </div>
              <div>
                <p class="card-text">
                  <small class="text-muted"
                    >Pay sellers Online via <strong>E-payment</strong>
                  </small>
                </p>
                <button type="button" class="btn btn-md btn-primary">
                  <i class="fa-solid fa-message"></i>
                  View Message
                </button>
              </div>
            </div>
            <!-- </div> -->
          </div>
          <div class="modal-footer"></div>
        </div>
      </div>
    </div>

    <!-- End of Submit Modal -->
  </div>
</div>
<app-footer></app-footer>
<app-copyright></app-copyright>
