<app-header></app-header>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 d-flex flex-column flex-md-row">
      <div class="col-md-4 overflow-scroll vh-100">
        <ul class="list-group">
          <li class="list-group">
            <div class="h3">Message</div>
          </li>
          <li class="list-group">
            <input
              type="text"
              placeholder="search by product or company details"
            />
          </li>
          <li class="list-group-item">
            <div class="row">
              <a
                href="#"
                class="list-group-item list-group-item-action"
                aria-current="true"
              >
                <div class="d-flex w-100 justify-content-between">
                  <img
                    src="/assets/img/hero-bg.jpg"
                    alt=""
                    class="rounded-circle"
                    style="width: 40px; height: 40px"
                  />
                  <h5 class="mb-1">List group item heading</h5>
                  <small>3 days ago</small>
                </div>
                <p class="mb-1">Some placeholder content in a paragraph.</p>
                <small>And some small print.</small>
              </a>

              <a
                href="#"
                class="list-group-item list-group-item-action"
                aria-current="true"
              >
                <div class="d-flex w-100 justify-content-between">
                  <img
                    src="/assets/img/hero-bg.jpg"
                    alt=""
                    class="rounded-circle"
                    style="width: 40px; height: 40px"
                  />
                  <h5 class="mb-1">List group item heading</h5>
                  <small>3 days ago</small>
                </div>
                <p class="mb-1">Some placeholder content in a paragraph.</p>
                <small>And some small print.</small>
              </a>
              <a
                href="#"
                class="list-group-item list-group-item-action"
                aria-current="true"
              >
                <div class="d-flex w-100 justify-content-between">
                  <img
                    src="/assets/img/hero-bg.jpg"
                    alt=""
                    class="rounded-circle"
                    style="width: 40px; height: 40px"
                  />
                  <h5 class="mb-1">List group item heading</h5>
                  <small>3 days ago</small>
                </div>
                <p class="mb-1">Some placeholder content in a paragraph.</p>
                <small>And some small print.</small>
              </a>
              <a
                href="#"
                class="list-group-item list-group-item-action"
                aria-current="true"
              >
                <div class="d-flex w-100 justify-content-between">
                  <img
                    src="/assets/img/hero-bg.jpg"
                    alt=""
                    class="rounded-circle"
                    style="width: 40px; height: 40px"
                  />
                  <h5 class="mb-1">List group item heading</h5>
                  <small>3 days ago</small>
                </div>
                <p class="mb-1">Some placeholder content in a paragraph.</p>
                <small>And some small print.</small>
              </a>
              <a
                href="#"
                class="list-group-item list-group-item-action"
                aria-current="true"
              >
                <div class="d-flex w-100 justify-content-between">
                  <img
                    src="/assets/img/hero-bg.jpg"
                    alt=""
                    class="rounded-circle"
                    style="width: 40px; height: 40px"
                  />
                  <h5 class="mb-1">List group item heading</h5>
                  <small>3 days ago</small>
                </div>
                <p class="mb-1">Some placeholder content in a paragraph.</p>
                <small>And some small print.</small>
              </a>
              <a
                href="#"
                class="list-group-item list-group-item-action"
                aria-current="true"
              >
                <div class="d-flex w-100 justify-content-between">
                  <img
                    src="/assets/img/hero-bg.jpg"
                    alt=""
                    class="rounded-circle"
                    style="width: 40px; height: 40px"
                  />
                  <h5 class="mb-1">List group item heading</h5>
                  <small>3 days ago</small>
                </div>
                <p class="mb-1">Some placeholder content in a paragraph.</p>
                <small>And some small print.</small>
              </a>
            </div>
          </li>
        </ul>
      </div>
      <div
        class="col-md-8 position-relative"
        style="
          background-image: url('https://my.imimg.com/gifs_new/messagecentre/msg_ctr_bak.png');
          margin-left: 2%;
        "
      >
        <a
          href="#"
          class="list-group-item list-group-item-action border border-success"
          aria-current="true"
        >
          <div class="d-flex w-100 justify-content-between">
            <img
              src="/assets/img/hero-bg.jpg"
              alt=""
              class="rounded-circle"
              style="width: 40px; height: 40px"
            />
            <h5 class="mb-1">List group item heading</h5>
            <small>3 days ago</small>
          </div>
          <p class="mb-1">Some placeholder content in a paragraph.</p>
          <small>And some small print.</small>
        </a>

        <div
          class="input-group mt-3 mb-2 border border-success position-fixed bottom-0"
          style="width: 60%"
        >
          <span class="input-group-text" id="basic-addon1">@</span>
          <input
            type="text"
            class="form-control"
            placeholder="Type Your Message ..."
            aria-label="Username"
            aria-describedby="basic-addon1"
            style="height: 55px"
          />
          <span class="input-group-text" id="basic-addon1"
            ><button class="btn btn-lg btn-success">Send</button></span
          >
        </div>
        <!-- <div
        class="input-group border border-success position-fixed bottom-0"
        style="width: 50%"
      >
        <input
          type="text"
          class="form-control"
          placeholder="Type Your Message ..."
          aria-label="Recipient's username with two button addons"
        />
        <button class="btn btn-success" type="button">Send</button>
      </div> -->
      </div>
    </div>
  </div>
</div>
