<app-header></app-header>
<nav class="navbar navbar-expand-lg navbar-light bg-success">
  <div class="container">
    <a class="navbar-brand text-white" href="#">
      <img
        src="/assets/img/company-logos/2.png"
        alt=""
        width="40"
        height="40"
        class="d-inline-block align-text-top"
      />
      Bluewater Research</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <a class="nav-link text-white active" aria-current="page" href="#"
          >Home</a
        >
        <a class="nav-link text-white" href="#">Features</a>
        <a class="nav-link text-white" href="#">Pricing</a>
      </div>
    </div>
  </div>
</nav>
<!-- company carousel start -->
<div
  id="carouselExampleCaptions"
  class="carousel slide mt-3"
  data-bs-ride="carousel"
>
  <div class="container vh-25">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="/assets/img/medicine/img2.jpg"
          class="d-block w-100"
          alt="..."
          style="height: 250px; width: 250px"
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="/assets/img/medicine/img2.jpg"
          class="d-block w-100"
          alt="..."
          style="height: 250px; width: 250px"
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="/assets/img/medicine/img2.jpg"
          class="d-block w-100"
          alt="..."
          style="height: 250px; width: 250px"
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<!-- carousel end -->
<h3 class="text-center mt-4">About Us</h3>
<div class="container">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quisquam
  non, culpa natus tenetur officiis vitae eum quis officia illo incidunt
  asperiores minima voluptas nam consequatur atque unde dolor in reprehenderit a
  exercitationem, voluptatem iste repudiandae delectus? Repellendus, quisquam
  quia. Veniam expedita recusandae quaerat ipsam reiciendis numquam commodi
  laudantium facere rerum fugiat tenetur quisquam facilis neque, modi repellat
  sapiente odio placeat corrupti voluptatem eos similique. Blanditiis eveniet
  consequuntur eligendi in accusantium atque nam voluptates vel error ipsum
  dolores, deserunt culpa dolore modi quae repudiandae cum, rerum explicabo
  incidunt? Porro pariatur blanditiis ullam, repellat iste modi! Pariatur nisi
  eveniet deserunt voluptatum rerum neque quasi nesciunt iusto dolorem, nam odio
  deleniti, incidunt, veritatis impedit delectus. Nihil error dolorum delectus
  obcaecati quam fuga sunt placeat, quos non praesentium ipsa soluta beatae
  nesciunt alias eius et, repellat perspiciatis, quo cum ratione voluptatem
  ducimus dicta illum. Odio porro modi, omnis aliquam quaerat molestias nam
  neque eveniet optio expedita inventore, dolor sit ut, veritatis distinctio
  veniam laboriosam nesciunt vitae earum ducimus sunt? Itaque sequi veritatis
  repellat laudantium architecto hic, consectetur quasi quidem doloribus dolorem
  non in quas error ipsam sint cum incidunt excepturi! Id, qui, dignissimos iure
  facere labore necessitatibus doloremque repudiandae ab maxime culpa
  perferendis ipsam numquam neque quod molestias facilis ratione accusantium!
  Doloremque, dolore consequuntur. Ut quidem neque eaque totam assumenda! Non
  odit laboriosam rem reprehenderit voluptas perspiciatis sunt inventore nam
  unde. Possimus nostrum esse impedit natus voluptatum ut dolorum molestias iure
  ad illo? Suscipit deserunt reprehenderit sapiente! Quia, enim vel repellendus
  nemo ducimus eius nobis hic earum facere, perspiciatis illum culpa laudantium.
  Hic magnam reiciendis cum repudiandae voluptatum, a, suscipit libero officiis
  temporibus vitae fuga fugit officia! Est, nostrum suscipit beatae officia
  laboriosam dolores non dolorum exercitationem laudantium nulla porro aut qui
  eos deserunt cupiditate quam itaque fuga sint fugit. Ad tempore aut assumenda
  distinctio sequi, numquam quo dicta dolorum suscipit, cupiditate veritatis
  odit dignissimos sapiente perferendis repudiandae molestiae, architecto magni
  maxime. Officia in asperiores culpa cumque magni quis corrupti dolore
  molestias adipisci. Modi enim quam quisquam voluptatibus veritatis ex debitis
  quasi repudiandae eligendi. Explicabo nulla, dignissimos illo ex odio
  accusamus omnis! Obcaecati quae officia eum iure vel tempora fuga minima non
  in consectetur maxime ab natus consequatur exercitationem repellendus numquam
  maiores deserunt, alias odio itaque incidunt, blanditiis, ut animi. Repellat
  quidem maiores odit mollitia minima consequatur quas enim neque recusandae
  ratione aliquid optio earum est, nihil pariatur omnis deleniti magnam
  exercitationem voluptatem incidunt amet dignissimos. Molestiae natus cum
  dolores omnis. Facilis obcaecati repudiandae deserunt commodi totam,
  architecto qui eum repellendus optio reprehenderit nulla aliquam harum dolore
  neque quaerat nesciunt nostrum dolorum ducimus alias vitae fugiat cum
  pariatur. Vero corporis non hic expedita! Sed amet quibusdam fuga cupiditate
  atque libero nesciunt id dolorem quo sint nostrum laudantium itaque quis
  consequatur, vel repudiandae, iste magnam nobis laboriosam necessitatibus
  temporibus adipisci. Magni corrupti consequatur dolorum a quibusdam fuga
  aliquid quaerat aperiam voluptas asperiores ad animi, expedita illo molestias,
  incidunt libero vel dolorem, ullam totam culpa perferendis. Tenetur doloremque
  dolorem voluptatum expedita cupiditate incidunt officiis at?
</div>
<div class="container-fluid bg-success">
  <div class="d-flex">
    <div class="h3 pt-2 text-white">Get in Touch With Us</div>
    <div class="social-icons ms-auto">
      <ul>
        <li>
          <a href="#" target="_blank"
            ><i class="fab fa-facebook-f fa-2x"></i
          ></a>
        </li>
        <li>
          <a href="#" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
        </li>
        <li>
          <a href="#" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
        </li>
        <li>
          <a href="#" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
        </li>
        <!-- <li>
          <a href="#" target="_blank"><i class="fab fa-dribbble"></i></a>
        </li> -->
      </ul>
    </div>
  </div>
</div>

<!-- <div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <p>Copyrights &copy; 2022 All Rights Reserved.</p>
      </div>
      <div class="col-lg-6 text-right col-md-12">
        <div class="social-icons">
          <ul>
            <li>
              <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="fab fa-dribbble"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div> -->
<app-footer></app-footer>
<app-copyright></app-copyright>
