<!-- footer -->
<div class="footer-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="footer-box pages">
          <h2 class="widget-title">Important Link</h2>
          <ul>
            <li><a href="index.html">Join Sales</a></li>
            <li><a href="about.html">Succcess Stories</a></li>
            <li><a href="services.html">Press Section</a></li>
            <li><a href="news.html">Advertise with Us</a></li>
            <li><a href="contact.html">Investor Section</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="footer-box pages">
          <h2 class="widget-title">Events</h2>
          <ul>
            <li><a href="index.html">Trade Show</a></li>
            <li><a href="about.html">Conferences</a></li>
            <li><a href="services.html">Events by Country</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="footer-box pages">
          <h2 class="widget-title">Suppliers Tool Kit</h2>
          <ul>
            <li><a href="index.html">Sale on IndiaMART</a></li>
            <li><a href="about.html">Latest BuyLead</a></li>
            <li><a href="services.html">Learning Centre</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="footer-box pages">
          <h2 class="widget-title">Buyers Tool Kit</h2>
          <ul>
            <li><a href="index.html">Post Your Requirement</a></li>
            <li><a href="about.html">Products You Buy</a></li>
            <li><a href="services.html">Search Products & Suppliers</a></li>
            <li><a href="news.html">Pay with IndiaMART</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end footer -->
