<app-header></app-header>
<div class="container mt-3">
  <ul class="nav nav-tabs nav-pills">
    <li class="nav-item">
      <a
        class="nav-link"
        aria-current="page"
        data-bs-toggle="tab"
        href="#Orders"
        >My Orders</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" href="#product"
        >Product of Interest</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" href="#category"
        >Recommend Categories</a
      >
    </li>

    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" href="#activity"
        >Recent Activity</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" href="#search">Past searches</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div id="Orders" class="container tab-pane active">
      <br />
      <div class="text-end">
        <div class="h4">post your requirement</div>
      </div>

      <hr />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
    <div id="product" class="container tab-pane fade">
      <br />
      <h3>Menu 1</h3>
      <p>
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        ut aliquip ex ea commodo consequat.
      </p>
    </div>
    <div id="category" class="container tab-pane fade">
      <br />
      <h3>category 2</h3>
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium, totam rem aperiam.
      </p>
    </div>
    <div id="activity" class="container tab-pane fade">
      <br />
      <h3>activity 2</h3>
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium, totam rem aperiam.
      </p>
    </div>
    <div id="search" class="container tab-pane fade">
      <br />
      <h3>search 2</h3>
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium, totam rem aperiam.
      </p>
    </div>
  </div>
</div>
